<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.lkm.starbucks.dao.logindao">
	<select id="logincheck" resultType="com.lkm.starbucks.dto.usersdto">
		SELECT * 
		FROM USERS 
		WHERE UIDS = #{param1} and UPW =#{param2}
	</select>
	
</mapper>