<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.lkm.starbucks.dao.registerdao">
	<select id="phonecheck" resultType="Integer">
		SELECT 
			COUNT(*)
		FROM USERS
		WHERE UPHONE =#{param1}
	</select>
	
	<select id="idcheck" resultType="Integer">
		SELECT 
			COUNT(*)
		FROM USERS
		WHERE UIDS =#{param1}
	</select>
	
	<select id="nicknamecheck" resultType ="Integer">
		SELECT
			COUNT(*)
		FROM USERS
		WHERE UNICKNAME=#{param1}
	</select>
	
	<insert id="insertuser" parameterType="com.lkm.starbucks.dto.usersdto">
		INSERT INTO USERS (
			UIDX,
			UIDS,
			UPW,
			UNICKNAME,
			UEMAIL,
			UPHONE,
			UGRADE,
			UDATE,
			USTARCOUNT,
			UPOWER
		) VALUES (
			user_seq.nextval,
			'${uIds}',
			'${uPw}',
			'${uNickName}',
			'${uEmail}',
			'${uPhone}',
			'일반',
			SYSDATE,
			0,
			0
		)
	</insert>
	
	
</mapper>