<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.lkm.starbucks.dao.storedao">
	
	<select id="getbranch_info" resultType="com.lkm.starbucks.dto.branch_infodto">
		SELECT *
		FROM BRANCH_INFO
		WHERE BNAME LIKE '%'|| #{param1} ||'%' OR BLOCATION LIKE '%'|| #{param1} ||'%'
	</select>
	
</mapper>