@charset "UTF-8";

.login_background{
	background: url('../images/login/login_bg.jpg') center top no-repeat fixed;
	width: 100%;
} 
.login_background .login_wrap{
	max-width: 570px;
	margin : 0 auto;
	padding : 70px 0 50px;
}

.login_inner_title{
	display:block;
	text-align: center;
	color:#fff;
	font-size: 30px;
	margin-bottom: 30px;
	font-weight: bold;
}
.login_area{
	position :relative;
	border :1px solid #ddd;
	box-sizing: border-box;
	max-width: 570px;
	margin: 0 auto;
	background: #fff;
}
.jTitle{
	text-align: center;
	font-size: 19px;
	line-height: 24px;
	padding :30px 20px;
	margin : 0;
	border-bottom: 1px solid #ddd
}
.jTitle .style_green{
	color: green !important;
}
.login_form{
	background: #fff;
    border-bottom: 1px solid #ddd;
    padding: 20px 20px;
    position: relative;
}
.hide{
	position: absolute;
	left: -99999px;
	font-size: 0;
	width: 0;
	height: 0;
	overflow: hidden;
}
.login_form input{
	    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box;
    display: inline-block;
     margin-top: 10px; 
    max-width: 530px;
    padding: 15px;
    width: 100%;
}
#user_pw{
	margin-bottom: 10px;
}
.saveId_wrap{
	display: block;
	margin-bottom: 20px;
}
input[type=checkbox]:not(old){
	position: absolute;
    width: 26px;
    height: 26px;
    padding: 0;
    border: 0 none;
    background: #fff;
    cursor: pointer;
}
input[type=checkbox]{
	margin-top :0;
}
input[type=checkbox]:checked +label{
	background: #fff url(../images/login/mem_check_on.png) no-repeat 0 0;
    background-size: 26px;
}
input[type=checkbox]:not(old) +label{
	position: relative;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding-left: 35px;
    background: #fff url(../images/login/mem_check_off.png) 0 0 no-repeat;
    font-size: 16px;
    color: #3f4141;
    cursor: pointer;
    vertical-align: top;
    background-size: 26px;
    cursor: pointer;
    z-index: 4;
}
.p_login_btn{
	margin :0 auto;
	background: #006633;
    border-radius: 3px;
    margin-top: 25px;
    text-align: center;
    margin: 0 20px;
    max-width: 570px;
}
.p_login_btn a{
	color: #fff;
    font-size: 24px;
    display: block;
    line-height: 65px;
}
.warning_txt{
	color:#006633 !important;
    font-size: 15px;
    line-height: 1.4;
    margin-top: 15px;
}
.register_util_btn{
	width: 100%;
	max-width: 570px;
	box-sizing: border-box;
}
.register_util_btn ul{
	text-align: center;
	width: 100%;
	display: table;
	padding:0;
	margin: 0;
}
.register_util_btn ul li{
	position:relative;
	float: left;
	width: 33.3%;
	vertical-align: top;
	box-sizing: border-box;
}
.register_util_btn ul li a{
	color: #666;
    display: block;
    font-size: 16px;
    height: 100%;
    line-height: 54px;
    width: 100%;
}
.register_util_btn ul li a:hover{
	text-decoration: underline;
}