@charset "UTF-8";

.wrap{
	width: 100%;
	position: relative;
	overflow: hidden;
}
.wrap .title_wrap{
	width: 100%;
	height: 90px;
	margin-top:20px;
}
.wrap .title_wrap .title_inner{
	width: 70%;
	margin: 0 auto;
	height: 90px;
	position: relative;
}
.wrap .title_wrap .title_inner h2{
	font: bold 36px Avenir, Arial, georgia;
    color: #222222;
    padding-top: 30px;
    position: relative;
}

.wrap .wrap_content{
	width: 70%;
	position: relative;
	margin: 0 auto;
}

.wrap .wrap_content .new_card_wrap{
	float: left;
	width: 79%;
	
}
.card_list >dt{
	width: 100%;
	background: #f4f4f2;
	padding:20px 0 20px 0;
	margin-bottom: 20px;
}
.card_list >dt >a{
	padding-left: 20px;
	font-size: 18px;
	color:#222;
}
.card_list >dd{
	margin-bottom: 40px;
    overflow: hidden;
    height: auto;
}
.card_list >dd ul{
	width: 100%;
    position: relative;
}
.card_list >dd ul li{
	width: 290px;
	float: left;
	position: relative;
	margin: 10px;
}
.card_list >dd ul li >dl{
	width: 290px;
	
}
.card_list >dd ul li >dl>dt{
	width: 290px;
    height: 170px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.card_list >dd ul li >dl>dt a img{
	transition: transform 1s;
    -webkit-transition: -webkit-transform 1s;
    border-radius: 5px;
    height: 100%;
    width: 100%;
}
.card_list >dd ul li >dl>dd{
	font-size: 14px;
    color: #444;
    height: 54px;
    line-height: 54px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

