@charset "UTF-8";

.main_wrap{
	max-width: 600px;
	margin: 0 auto;
	padding-top: 20px;
}
.main_wrap .register_wrap{
	border: 1px solid #ddd;
	box-sizing: border-box;
}
.main_wrap .register_wrap .register_inner{
	max-width: 550px;
	padding: 0 20px 0 20px;
}
.main_wrap .register_wrap .register_inner input{
	height: 50px;
	display:block;
	width: 100%;
	line-height: 50px;
	font-size: 15px;
	margin: 15px 0 15px 0;
	border: 1px solid lightgray;
}
.main_wrap .register_wrap .register_inner #user_email ,.main_wrap .register_wrap .register_inner #email_addr{
	width: 30%;
	display:inline-block;
}
.main_wrap .register_wrap .register_inner #addr{
	height: 50px;
	width: 20%;
	
}
#addr option{
	font-size: 15px;
}
.main_wrap .register_wrap .register_inner #user_phone{
	width: 50%;
	display: inline-block;
}
.main_wrap .register_wrap .register_inner .phonebtn{
	width: 30%;
	border: 1px solid black;
	height: 50px;
	line-height:50px;
	margin: 15px 0 15px 10px;
	display:inline-block;
	box-sizing: border-box;
	background-color: #31B404; 
	font-weight: bold;
	color: white;
	font-size: 17px;
}
.hid{
	display:none;
}
.phone_auth #auth_check{
	width: 50%;
	
}
